<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>上传检测结果</title>
		<link rel="stylesheet" href="./index.css" />
		<link rel="stylesheet" href="../../css/pages.css" />
		<script src="../../js/pages.js"></script>
		
	</head>
	<body>
		<div id="app">
			<el-form ref="form" :model="form" :rules="rules" label-width="100">
				<el-form-item label="报告单号" prop="reportId">
					<el-input v-model="form.reportId"></el-input>
				</el-form-item>
				<el-form-item label="检测机构" prop="detectHospital">
					<el-input v-model="form.detectHospital"></el-input>
				</el-form-item>
				<el-form-item label="检测人姓名" prop="detectPerson.name">
					<el-input v-model="form.detectPerson.name"></el-input>
				</el-form-item>
				<el-form-item label="检测人身份证号" prop="detectPerson.idNumber">
					<el-input v-model="form.detectPerson.idNumber" maxlength="18" minlength="18" show-word-limit clearable></el-input>
				</el-form-item>
				<el-form-item label="检测结果" prop="detectResult">
					<el-select v-model="form.detectResult" placeholder="请选择">
						<el-option label="阴性" value="阴性"></el-option>
						<el-option label="阳性" value="阳性"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="onSubmit('form')">提交</el-button>
					<el-button>取消</el-button>
				</el-form-item>
			</el-form>
		</div>
	</body>
	<script src="./index.js"></script>
</html>
